<div class="wrapper fadeInDown">

    <div id="formContent">
        <form (ngSubmit)="onForgotSubmit()">

            <div id="loginFormTitle">
                <h2 id="logSignTitle">Forgot Password</h2>
            </div>
            <br>
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email"
                        [(ngModel)]="userService.userModel.email" required>
                    <!-- Error Warning -->
                    <mat-error *ngIf="email.invalid"><i>{{getEmailMessage()}}</i></mat-error>

                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>
            <br>

            <button mat-raised-button color="primary" type="submit" id="loginSignBtn" [disabled]="!email.valid" value="Send-mail">Send
                Mail</button>
        </form>

        <div class="success" *ngIf="showSuccessMessage">
            Email sent
        </div>

        <div class="alert" *ngIf="serverErrorMessage">
            {{serverErrorMessage}}
        </div>
    </div>
</div>