<div class="wrapper fadeInDown">

    <div id="formContent">
        <form (ngSubmit)="onResetSubmit()">
            <div class="example-container">

                <div id="loginFormTitle">
                    <h2 id="logSignTitle">Reset Password</h2>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Enter new password</mat-label>
                    <input matInput [formControl]="password" [(ngModel)]="userService.userModel.password"
                        [type]="hide ? 'password' : 'text'">
                    <!-- Error Warning -->
                    <mat-error *ngIf="password.invalid"><i>{{getPasswordWarning()}}</i></mat-error>

                    <mat-icon matSuffix (click)="hide = !hide" class="handCursor">
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>

                </mat-form-field>
            </div>
            <br>

            <button mat-raised-button color="primary" type="submit" id="loginSignBtn" [disabled]="!password.valid"
                value="change-password">Reset</button>
        </form>

        <div class="success" *ngIf="showSuccessMessage">
            Password Reset
        </div>

        <div class="alert" *ngIf="serverErrorMessage">
            {{serverErrorMessage}}
        </div>

    </div>
</div>